<div>
    <br />
    <div class="row">

        <div class="col-md-4">
            <div class="panel panelBorder">
                <div class="panel-heading panelHeader noPadding">
                    <div class="row  dashboardPanelPadding">
                        <div class="col-md-9 col-sm-9 col-lg-9 noPadding">
                            <span style="font-size : 20px; color : #575D63">Employees</span><br />
                            <span style="font-size : 30px">{{employeeCount.UserRoles.length}}</span>
                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-3 text-center noPadding" style="font-size : 55px">
                            <i class="fa fa-user-secret" style="color : #575D63"></i>
                        </div>
                    </div>
                </div>
                <div class="panel-footer panelFooter text-right">
                    <a href="#/userList">View Details  <i class="fa fa-arrow-circle-right"></i> </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panelBorder">
                <div class="panel-heading panelHeader noPadding">
                    <div class="row  dashboardPanelPadding">
                        <div class="col-md-9 col-sm-9 col-lg-9 noPadding">
                            <span style="font-size : 20px; color : #575D63">Interns</span><br />
                            <span style="font-size : 30px">{{internCount.UserRoles.length}}</span>
                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-3 text-center noPadding" style="font-size : 55px">
                            <i class="fa fa-user" style="color : #575D63"></i>
                        </div>
                    </div>
                </div>
                <div class="panel-footer panelFooter text-right">
                    <a href="#/userList">View Details  <i class="fa fa-arrow-circle-right"></i> </a>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panelBorder">
                <div class="panel-heading panelHeader noPadding">
                    <div class="row  dashboardPanelPadding">
                        <div class="col-md-9 col-sm-9 col-lg-9 noPadding">
                            <span style="font-size : 20px; color : #575D63">PaySlip Generated</span><br />
                            <span style="font-size : 30px">{{paySlipCount.length}}</span>
                        </div>
                        <div class="col-md-3 col-sm-3 col-lg-3 text-center noPadding" style="font-size : 55px">
                            <i class="fa fa-sticky-note" style="color : #575D63"></i>
                        </div>
                    </div>
                </div>
                <div class="panel-footer panelFooter text-right">
                    <a href="#/paySlipReport">View Details  <i class="fa fa-arrow-circle-right"></i> </a>
                </div>

            </div>
        </div>
        
        <!--<div class="col-md-3">
            <div class="panel panelBorder">
                <div class="panel-heading panelHeader">
                    <h2>
                        Blah
                    </h2>
                </div>
                <div class="panel-footer panelFooter text-right">
                    <a href="">View Details <span class="glyphicon glyphicon-circle-arrow-right"></span> </a>
                </div>

            </div>
        </div>-->

    </div>

    <div class="row">

        <div class="col-md-6">
            <div class="panel panelBorder">
                <div class="panel-heading panelHeader">
                    My Leave Request
                    <button type="button" class="btn btn-danger btn-xs" ng-click="leaveRequestRefresher()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                </div>
                <div class="panel-body panelBody">
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed">
                            <thead class="tableHeader">
                                <tr>
                                    <th><a href="" ng-click="columnName='LeaveRequestID'">Request ID</a></th>
                                    <th><a href="" ng-click="columnName='DateFrom'">Date From</a></th>
                                    <th><a href="" ng-click="columnName='NumberOfDays'">Number Of Days</a></th>
                                    <th><a href="" ng-click="columnName='IsActive'">Action</a></th>
                                </tr>
                            </thead>
                            <tbody class="tableBody">
                                <tr data-ng-repeat="x in leaveRequest | orderBy:columnName" data-ng-dblclick="selectObject(x)" data-ng-if="x.IsApproved == null && x.CreatedBy == loggedInUser.UserID">
                                    <td>{{x.LeaveRequestID}}</td>
                                    <td>{{x.DateFrom}}</td>
                                    <td>{{x.NumberOfDays}}</td>
                                    <td ng-if="!x.IsActive"><button type="button" class="btn addButton btn-xs" ng-click="">Deactivate</button></td>
                                    <td ng-if="!x.IsActive"><button type="button" class="btn addButton btn-xs" ng-click="">Activate</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panelBorder">
                <div class="panel-heading panelHeader">
                    Leave Request History
                </div>
                <div class="panel-body panelBody">
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed">
                            <thead class="tableHeader">
                                <tr>
                                    <th><a href="" ng-click="columnName='LeaveRequestID'">Request ID</a></th>
                                    <th><a href="" ng-click="columnName='DateFrom'">Date From</a></th>
                                    <th><a href="" ng-click="columnName='NumberOfDays'">Number Of Days</a></th>
                                    <th><a href="" ng-click="columnName='IsApproved'">Status</a></th>
                                </tr>
                            </thead>
                            <tbody class="tableBody">
                                <tr data-ng-repeat="x in leaveRequest | orderBy:columnName" data-ng-dblclick="selectObject(x)" data-ng-if="x.IsApproved != null && x.ApprovedBy != loggedInUser.UserID">

                                    <td>{{x.LeaveRequestID}}</td>
                                    <td>{{x.DateFrom}}</td>
                                    <td>{{x.NumberOfDays}}</td>
                                    <td ng-if="x.IsApproved == true">Approved</td>
                                    <td ng-if="x.IsApproved != true">Rejected</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <div class="panel panelBorder">
                <div class="panel-heading panelHeader">
                    Pending Requests
                </div>
                <div class="panel-body panelBody">
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed">
                            <thead class="tableHeader">
                                <tr>
                                    <th><a href="" ng-click="columnName='LeaveRequestID'">Request ID</a></th>
                                    <th><a href="" ng-click="columnName='DateFrom'">Date From</a></th>
                                    <th><a href="" ng-click="columnName='NumberOfDays'">Number Of Days</a></th>
                                    <th><a href="" ng-click="columnName='IsActive'">Approve</a></th>
                                    <th><a href="" ng-click="columnName='IsActive'">Reject</a></th>
                                </tr>
                            </thead>
                            <tbody class="tableBody">
                                <tr data-ng-repeat="x in leaveRequest | orderBy:columnName" data-ng-dblclick="selectObject(x)" data-ng-if="x.IsApproved == null && x.CreatedBy != loggedInUser.UserID">
                                    <td>{{x.LeaveRequestID}}</td>
                                    <td>{{x.DateFrom}}</td>
                                    <td>{{x.NumberOfDays}}</td>
                                    <td><button type="button" class="btn btn-success btn-xs" ng-click="approveLeaveRequest(x)">Approve</button></td>
                                    <td><button type="button" class="btn btn-danger btn-xs" ng-click="rejectLeaveRequest(x)">Reject</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panelBorder">
                <div class="panel-heading panelHeader">
                    History
                </div>
                <div class="panel-body panelBody">
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed">
                            <thead class="tableHeader">
                                <tr>
                                    <th><a href="" ng-click="columnName='LeaveRequestID'">Request ID</a></th>
                                    <th><a href="" ng-click="columnName='DateFrom'">Date From</a></th>
                                    <th><a href="" ng-click="columnName='NumberOfDays'">Number Of Days</a></th>
                                    <th><a href="" ng-click="columnName='IsApproved'">Status</a></th>
                                </tr>
                            </thead>
                            <tbody class="tableBody">
                                <tr data-ng-repeat="x in leaveRequest | orderBy:columnName" data-ng-dblclick="selectObject(x)" data-ng-if="x.ApprovedBy == loggedInUser.UserID && x.CreatedBy != loggedInUser.UserID">

                                    <td>{{x.LeaveRequestID}}</td>
                                    <td>{{x.DateFrom}}</td>
                                    <td>{{x.NumberOfDays}}</td>
                                    <td ng-if="x.IsApproved == true">Approved</td>
                                    <td ng-if="x.IsApproved != true">Rejected</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
