<div>
    <footer>
        <div class="panelFooter">
            <div class="container">
                <div class="col-md-1">

                </div>
                <div class="col-md-11">
                    <br />
                    <strong>Note:</strong><br />
                    1. Click on the Column Name to Sort the data accordingly.<br />
                    2. Double Click on any record to Edit it.
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <div class="footer-bottom panelHeader">
            <br />
            <p class="text-right"> HRMS Copyright © 2017. All rights reserved.&emsp;&emsp;</p>

        </div>
    </footer>
</div>