<div>
    <br />
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <p class="viewHeading"><strong>LOST</strong></p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right breadCrumbStyle">
            Home / Lost
        </div>
    </div>
    <hr />

    <div class="panel panel-default panelBorder">

        <div class="panel-heading panelHeader">
            <strong>Look Lost</strong>
        </div>
        <div class="panel-body panelBody">
            <div class="row">
                <br /><br />
                <p class="text-center">
                    <strong style="font-size:xx-large">Oops! Looks Like you're lost</strong>
                </p>
                <br /><br />
            </div>
        </div>

        <div class="panel-footer text-center panelFooter">
            <button type="button" class="btn addButton" onclick="window.location.href='#/dashboard'">LOST!! PRESS ME</button>
        </div>
    </div>

</div>