<div>
    <br />
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <p class="viewHeading"><strong>Unauthorised</strong></p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right breadCrumbStyle">
            Home / Unauthorised
        </div>
    </div>
    <hr />

    <div class="panel panel-default panelBorder">

        <div class="panel-heading panelHeader">
            <strong>We Caught Someone!!</strong>
        </div>
        <div class="panel-body panelBody">
            <div class="row">
                <br /><br />
                <p class="text-center">
                    <strong style="font-size:xx-large; color: #FF5B57">Ooh!! You're not allowed here.</strong><br />
                    <strong style="font-size:x-large">Should I inform this?</strong>

                </p>
                <br /><br />
            </div>
        </div>

        <div class="panel-footer text-center panelFooter">
            <button type="button" class="btn addButton" onclick="window.location.href='#/dashboard'">SORRY, WON'T HAPPEN AGAIN</button>
        </div>
    </div>

</div>